:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617;
}

/* Custom Scrollbar */
.custom-scroll::-webkit-scrollbar { width: 6px; height: 6px; }
.custom-scroll::-webkit-scrollbar-track { background: #0f172a; }
.custom-scroll::-webkit-scrollbar-thumb { background: #334155; border-radius: 10px; }
.custom-scroll::-webkit-scrollbar-thumb:hover { background: #475569; }

.cursor-wait { cursor: wait; }